*{
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
@media not all and (min-width: 1400px){
  .container{
    max-width: 40rem;
  }
  .re-roller-btn{
    float: right;
  }
}
@media(min-width: 1400px){
  .container{
    width: 100%;
  }
  .re-roller{
    width: 15rem;
    height: 22rem;
    position: fixed;
    right: 5%;
    top:30%;
  }
  .re-roller-btn{
    display: none;
  }
  .char-form{
    position: fixed;
    top: 30%;
  }
  .buttons{
    position: fixed;
    top: 20%;
  }
  #load-party{
    position: relative;
    right: 25%;
  }
  .table-div{
    margin-left: 30%;
  }
}

@media(min-width: 1700px){
  .re-roller{
    right: 15%;
  }
  #load-party{
    right: 300px;
  }
}

.header{
  text-align: center;
}
.header + a{
  float: right;
}

.header-text{
  color: #E53C25;
  font-family: 'overlock', cursive;
}

.logo{
  width:12rem;
  height: auto;
  margin-bottom: -2rem;
}

.table{
  max-width: 40rem;
  margin-bottom: 2rem;
  text-align: center;
}
td{
  font-size: 1.3rem;
}
.remove{
  color: #f44336;
  cursor: pointer;
}
.kill button{
  width: 40px;
  text-align: center;
  padding:0;
}
.kill img{
  width: 2rem;
  cursor: pointer;
}
#dead{
  background-color: #d7ccc8;
}

.re-roller{
  float: right;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0 3rem 1.5rem 3rem;
}

.roll-advantage{
  text-align:left;
  margin: 1rem 0 2rem 0;
}

output{
  border: 1px solid lightgray;
  display: inline-block;
  height: 2.5rem;
  max-width: 8rem;
  margin: auto;
  margin: 1rem 0 .5rem 0;
  padding-top: 0.8rem;
}
#result-box{
  min-width: 4rem;
  padding: .5rem;
}

#total-box{
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

.buttons a{
  margin-right: 1rem;
}
img{
  padding-top: .67rem;
  width: 2.6rem;
  height: 3rem;
}
.char-form{
  width: 20rem;
}

.char{
  max-width: 15rem;
  margin-bottom: -1.5rem;
}
#type{
  max-width: 8rem;
}
.validate-type{
  background-color: #ef9a9a;
  text-transform: uppercase;
  width: 70%;
  border-radius: 10px;
  display: none;
}
.add-bonus{
  width: 10rem;
}
.char-advantage{
  float: right;
}
.create-char{
  margin: 2rem 0 0 3rem;
}
/*
.npc-form{
  width: 18rem;
}
.create-npc{
  margin: 2rem 0 0 3rem;
}
.npc-class{
  width: 10rem;
  height: 2rem;
  margin-top: 2rem;
}
.npc-checkbox{
  float: right;
}
*/